<ion-view view-title="Accounts">
  <form id="accountFormData">
    <ion-content>            
      
      <div class="content has-header padding"></div>      
      <div class="row">
        <div class="col col-100">          
          <h1 ng-show="addAccount">Add Account</h1>
        </div> 
      </div>

      <div ng-show="addAccount">
        <div class="row">
          <div class="col col-100">
            <div class="list">
              <label class="item item-input item-floating-label">
                <span class="input-label">Account Name</span>
                <input type="text" placeholder="Account Name" ng-model="accountFormData.accountName"  focus-if="focusInputAccountName">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Balance</span>
                <input type="number" placeholder="Balance" ng-model="accountFormData.balance">
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button class="button button-block button-positive" ng-click="submitNewAccount()">Add</button>
            <button class="button button-block button-assertive" ng-click="hideNewAccount()">Cancel</button>
          </div>
        </div>
      </div>

      <div ng-repeat="account in accounts">
        <div class="card" on-swipe-left="onSwipeLeft(account)" on-swipe-down="onSwipeDown()">
          <div class="item item-text-wrap">
            <p><b>Account</b> : {{account.accountname}}</p>
            <p><b>Balance</b> : £{{account.balance}}</p>
            <button class="button button-block button-assertive" ng-click="deleteAccount(account)" ng-show="showDeleteButton">Delete</button>
          </div>
        </div>
      </div>
    </ion-content>
    
  <button ng-hide="hideAddNewAccountBtn" ng-click="showAddNewAccount()" class="button button-fab button-fab-bottom-right button-assertive icon ion-android-add waves-effect waves-button waves-light"></button>
  </form>
</ion-view>