<ion-view view-title="My Accounts">
  <form id="accountFormData">
    <ion-content>

      <div class="row headingbackground">
        <div class="col col-75">
          <h1 ng-hide="hideAddNewAccountBtn">Accounts</h1>
          <h1 ng-show="addAccount">Add Account</h1>
        </div>
        <div class="col col-25">
          <button ng-hide="hideAddNewAccountBtn" ng-click="showAddNewAccount()" class="button button-fab button-fab-top-right button-assertive icon ion-android-add waves-effect waves-button waves-light"></button>
        </div>
      </div>

      <div class="row">
        <div class="col col-100">
          <div class="list" ng-show="addAccount">
            <label class="item item-input item-floating-label">
              <span class="input-label">Account Name</span>
              <input type="text" placeholder="Account Name" ng-model="accountFormData.accountName">
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">Balance</span>
              <input type="number" placeholder="Balance" ng-model="accountFormData.balance">
            </label>
          </div>
        </div>
      </div>
      <div class="row" ng-show="addAccount" ng-click="submitNewAccount()">
        <div class="col">
          <button class="button button-block button-positive">Add</button>
        </div>
      </div>
      
      <div ng-repeat="account in accounts">
        <div class="card">
          <div class="item item-text-wrap">
            <b><p>{{account.accountname}}</p></b>
            <p>£{{account.balance}}</p>
          </div>
        </div>
      </div>
    </ion-content>
  </form>
</ion-view>