<ion-view view-title="Expenses">
    <form id="expenseFormData">
        <ion-content on-swipe-right="onSwipeRight()">
            <div class="content" on-swipe-right="onSwipeRight()">
                <div class="content has-header padding"></div>
                <div class="row">
                    <div class="col col-100">
                        <h1>{{ accountName }}</h1>
                    </div>
                </div>
                <div ng-repeat="expensePerDate in expensesToFilter() | filter:filterExpenses | orderBy: '-id'">
                    <h4 class="padding">{{expensePerDate.datespent}}</h4>
                    <div class="card" ng-repeat="expense in allExpenses | filter:{datespent: expensePerDate.datespent} | orderBy: '-id'">
                        <div class="item item-text-wrap">
                            <b><p>{{expense.item}}</b></p>
                            <p>£{{expense.amountspent}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </ion-content>
        <button ng-click="Modal.show()" class="button button-fab button-fab-bottom-right button-assertive icon ion-android-add waves-effect waves-button waves-light"></button>
    </form>
</ion-view>