<ion-view view-title="Expenses">
    <form id="expenseFormData">
        <ion-content on-swipe-right="onSwipeRight()">

            <div class="content" on-swipe-right="onSwipeRight()">
                <div class="content has-header padding"></div>
                <div class="row">
                    <div class="col col-100">
                        <h1 ng-show="showAddNewExpenseBtn">{{ accountName }}</h1>
                        <h1 ng-show="addExpense">Add Expense</h1>
                    </div>
                </div>

                <div class="list" ng-show="hideExpneseInput">
                    <ion-input class="item item-input item-floating-label" ">                                
           <ion-label>Purchase Item</ion-label>
           <input type="text " placeholder="Purchase Item " ng-model="expenseFormData.purchaseItem " focus-if="focusInputPurchaseItem ">
         </ion-input>
         <ion-input class="item item-input item-floating-label "">
                        <ion-label>Amount spent</ion-label>
                        <input type="number" placeholder="Amount Spent" ng-model="expenseFormData.amountSpent">
                    </ion-input>
                </div>

                <div class="row" ng-show="hideExpneseInput">
                    <div class="col">
                        <button class="button button-block button-positive" ng-click="submitExpense()">Add</button>
                        <button class="button button-block button-assertive" ng-click="hideAddExpense()">Cancel</button>
                    </div>
                </div>

                <div ng-show="showAddNewExpenseBtn" ng-repeat="expensePerDate in expensesToFilter() | filter:filterExpenses">
                    <h4 class="padding">{{expensePerDate.datespent}}</h4>
                    <div class="card" ng-repeat="expense in allExpenses | filter:{datespent: expensePerDate.datespent}">
                        <div class="item item-text-wrap">
                            <b><p>{{expense.item}}</b></p>
                            <p>£{{expense.amountspent}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </ion-content>
        <button ng-show="showAddNewExpenseBtn" ng-click="showAddNewExpense()" class="button button-fab button-fab-bottom-right button-assertive icon ion-android-add waves-effect waves-button waves-light"></button>
    </form>
</ion-view>